<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" />
    <title>MyMovies</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
</head>
<body>
    <header>
    <ul class="menu-icon-container">
        <li><a href="/">HOME</a></li>
        <li><a href="/tvShows">Tv Shows</a></li>
        <li><a href="/trending">Trending</a></li>
        

    </ul>
    <form id="form">
        <div class="box">
            
            <div class="search-box">
                <input type="text" id="search" class="search" placeholder="search">
                <button id="searchBtn">
                    <label for="" class="icon">
                        <i class="fas fa-search"></i>
                    </label>
                </button>
            </div>
        </div>
        
        
    </form>
</header>

    <main id="main"></main>
    
<script src="app.js"></script>
</body>
</html>